<ion-header>
  <ion-toolbar>
    <ion-title>TAPUKUN</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="title">
    <b>Crear questionario</b>
  </div>
  <div class="content">
    <ion-grid>
    <form [formGroup]="questionaryConfigForm"  >
      <ion-item>
        <ion-label size="medium" position="stacked">Nombre</ion-label>
        <ion-input type="name" formControlName="name" class="form-control"></ion-input>
      </ion-item>
      <ion-label  color="danger" *ngIf="isInvalid('name')">
        <h6 *ngIf="hasErrorControl('name', 'required')">Este campo es requerido</h6>
        <h6 *ngIf="hasErrorControl('name', 'pattern')">
          Ingrese un nombre válido
        </h6>
      </ion-label>

      <ion-item>
        <ion-label size="medium" position="stacked">Descripcion</ion-label>
        <ion-input type="description" formControlName="description" class="form-control"></ion-input>
      </ion-item>
      <ion-label  color="danger" *ngIf="isInvalid('description')">
        <h6 *ngIf="hasErrorControl('description', 'minLength')">
          Ingrese 10 caracteres como minimo
        </h6>
        <h6 *ngIf="hasErrorControl('description', 'maxLength')">
          Ingrese 150 caracteres como maximo
        </h6>
      </ion-label>

      <ion-item>
        <ion-label size="medium" position="stacked">Tiempo limite</ion-label>
        <ion-input type="number" formControlName="deadTime" class="form-control"></ion-input>
      </ion-item>
      <ion-label  color="danger" *ngIf="isInvalid('deadTime')">
        <h6 *ngIf="hasErrorControl('deadTime', 'required')">Este campo es requerido</h6>
      </ion-label>

      <ion-item>
        <ion-label size="medium" position="stacked">Codigo de acceso</ion-label>
        <ion-input type="accessCode" formControlName="accessCode" class="form-control"></ion-input>
      </ion-item>
      <ion-label  color="danger" *ngIf="isInvalid('accessCode')">
        <h6 *ngIf="hasErrorControl('accessCode', 'required')">Este campo es requerido</h6>
        <h6 *ngIf="hasErrorControl('accessCode', 'minLength')">
          Ingrese 5 caracteres como minimo
        </h6>
        <h6 *ngIf="hasErrorControl('accessCode', 'maxLength')">
          Ingrese 5 caracteres como maximo
        </h6>
      </ion-label>


     <!-- X
  <div formArrayName="requests">
    <div *ngFor="let X of form['controls'].requests['controls']; let ix=index">
      <div formGroupName="{{ix}}" class="Xs">
          <b>REQUISITO N° {{ix+1}}</b>
        <div class="form-group row">
          <div class="col-md-11">
            <textarea type="text" class="form-control" formControlName="requisito"  [ngClass]="{'form-control': true,
            'is-invalid': X.controls.requisito.invalid && X.controls.requisito.touched,
            'is-valid': X.controls.requisito.valid}"></textarea>
            <small *ngIf="X.controls.requisito.errors?.required && X.controls.requisito.touched" class="form-text custom-invalid-feedback">Ingrese un requisito o elimine el campo</small>
            <small *ngIf="X.controls.requisito.errors?.maxlength && X.controls.requisito.touched" class="form-text custom-invalid-feedback">Ingrese 2000 caracteres como máximo</small>
            <small *ngIf="X.controls.requisito.errors?.minlength && X.controls.requisito.touched" class="form-text custom-invalid-feedback">Ingrese 10 caracteres como mínimo</small>
          </div>
          <div class="col-md-1">
            <button class="btn btn-danger" (click)="removeX(ix)"><i class="fa fa-trash"></i></button>
          </div>
        </div>
      </div>
    </div>
    <button class="btn btn-sm btn-primary" (click)="addX()">Añadir Requisito</button>
  </div>
       X End --><!--
  <div formArrayName="notes">
    <div *ngFor="let Y of form['controls'].notes['controls']; let iy=index">
      <div formGroupName="{{iy}}">
          <b>Nota</b>
        <div class="form-group row">
          <div class="col-md-11">
            <textarea type="text" class="form-control" formControlName="note"  [ngClass]="{'form-control': true,
            'is-invalid': Y.controls.note.invalid && Y.controls.note.touched,
            'is-valid': Y.controls.note.valid}"></textarea>
            <small *ngIf="Y.controls.note.errors?.required && Y.controls.note.touched" class="form-text custom-invalid-feedback">Ingrese una nota o elimine el campo</small>
            <small *ngIf="Y.controls.note.errors?.maxlength && Y.controls.note.touched" class="form-text custom-invalid-feedback">Ingrese 2000 caracteres como máximo</small>
            <small *ngIf="Y.controls.note.errors?.minlength && Y.controls.note.touched" class="form-text custom-invalid-feedback">Ingrese 10 caracteres como mínimo</small>
          </div>
          <div class="col-md-1">
            <button class="btn btn-danger" (click)="removeY(iy)"><i class="fa fa-trash"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>-->




      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button color="secondary" expand="block" routerLink="/home">Cancelar</ion-button>
          </ion-col>
          <ion-col>
            <ion-button color="primary" expand="block" type="submit" (click)="login()" [disabled]="!questionaryConfigForm.valid">Aceptar</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
    </ion-grid>
  </div>
  </ion-content>
